.prodfoot{
    padding-bottom: 50px;
}

.prood__title{
    text-align: center;
    font-family: 'Gilroy';
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #4E72CA;
}   